body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('spiderman.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(8px);
    z-index: -1;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #ff0000;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #ff0000;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#textInputGet, #textInputPost {
    margin-bottom: 20px;
}

#getResult, #postResult {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.content {
    margin-bottom: 40px;
}
